# Auto Mobile Data Analysis

In [1]:
import numpy as np
import pandas as pd

In [2]:
auto = pd.read_csv('Automobile_data.csv')

In [3]:
auto.head()

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [4]:
auto.shape

(61, 10)

In [5]:
auto.isnull().sum()

index               0
company             0
body-style          0
wheel-base          0
length              0
engine-type         0
num-of-cylinders    0
horsepower          0
average-mileage     0
price               3
dtype: int64

In [6]:
auto['price'] = auto['price'].fillna(auto['price'].mean())
auto['price'].isnull().sum()

0

In [7]:
# Most expensive car company name, details of all Toyota cars, total cars per company

In [8]:
most_exp_car = auto['price'].max()
most_exp_car

45400.0

In [9]:
auto.loc[(auto['price']==most_exp_car),['company','price']]

          company    price
35  mercedes-benz  45400.0

In [10]:
auto.loc[(auto['company']=='toyota')]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
49,67,toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
50,68,toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
51,69,toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
52,70,toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
53,71,toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

In [11]:
auto['company'].value_counts()

toyota           7
bmw              6
mazda            5
nissan           5
audi             4
mercedes-benz    4
volkswagen       4
mitsubishi       4
alfa-romero      3
isuzu            3
honda            3
porsche          3
chevrolet        3
jaguar           3
dodge            2
volvo            2
Name: company, dtype: int64

In [12]:
# The car of each company which costs highest among other cars

In [13]:
company_grp = auto.groupby('company')

In [14]:
company_grp['price'].max()

company
alfa-romero      16500.0
audi             18920.0
bmw              41315.0
chevrolet         6575.0
dodge             6377.0
honda            12945.0
isuzu            15387.0
jaguar           36000.0
mazda            18344.0
mercedes-benz    45400.0
mitsubishi        8189.0
nissan           13499.0
porsche          37028.0
toyota           15750.0
volkswagen        9995.0
volvo            13415.0
Name: price, dtype: float64

In [15]:
# the average mileage providing car company name

In [16]:
company_avg_mil = auto.groupby('company')

In [17]:
company_avg_mil['average-mileage'].mean()

company
alfa-romero      20.333333
audi             20.000000
bmw              19.000000
chevrolet        41.000000
dodge            31.000000
honda            26.333333
isuzu            33.333333
jaguar           14.333333
mazda            28.000000
mercedes-benz    18.000000
mitsubishi       29.500000
nissan           31.400000
porsche          17.000000
toyota           28.714286
volkswagen       31.750000
volvo            23.000000
Name: average-mileage, dtype: float64

In [18]:
# All companies producing the cars with 'num-of-cylinders'is equal to'six'

In [20]:
auto['num-of-cylinders'].value_counts()

four      39
six       11
five       5
eight      3
twelve     1
three      1
two        1
Name: num-of-cylinders, dtype: int64

In [21]:
auto.loc[(auto['num-of-cylinders']=='six')]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
10,13,bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
11,14,bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
12,15,bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
24,33,jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
25,34,jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
44,57,nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
45,61,porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
46,62,porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
54,79,toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0

In [22]:
# All comapnies details which are producing the cars with 'average-mileage' greater than or 
# equal to 35 and number of cylinders equal to four.

In [23]:
auto.loc[(auto['average-mileage']>=35) & (auto['num-of-cylinders']=='four')]

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
14,17,chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
15,18,chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
22,31,isuzu,sedan,94.5,155.9,ohc,four,70,38,15387.0
23,32,isuzu,sedan,94.5,155.9,ohc,four,70,38,15387.0
36,49,mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
40,53,nissan,sedan,94.5,165.3,ohc,four,55,45,7099.0
48,66,toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
55,80,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
57,82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0

In [24]:
len(auto.loc[(auto['average-mileage']>=35) & (auto['num-of-cylinders']=='four')])

9