In [1]:
import numpy as np
import pandas as pd

In [2]:
sup = pd.read_csv('global_superstore_2016.csv', encoding=('ISO-8859-1'))

In [3]:
sup.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Postal Code,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,40098,CA-2014-AB10015140-41954,11-11-2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,26341,IN-2014-JR162107-41675,02-05-2014,02-07-2014,Second Class,JR-162107,Justin Ritter,Corporate,NaN,Wollongong,...,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical
2,25330,IN-2014-CR127307-41929,10/17/2014,10/18/2014,First Class,CR-127307,Craig Reiter,Consumer,NaN,Brisbane,...,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$5,175.17",9,0.1,$919.97,915.49,Medium
3,13524,ES-2014-KM1637548-41667,1/28/2014,1/30/2014,First Class,KM-1637548,Katherine Murray,Home Office,NaN,Berlin,...,TEC-PH-5267,Technology,Phones,"Motorola Smart Phone, Cordless","$2,892.51",5,0.1,($96.54),910.16,Medium
4,47221,SG-2014-RH9495111-41948,11-05-2014,11-06-2014,Same Day,RH-9495111,Rick Hansen,Consumer,NaN,Dakar,...,TEC-CO-6011,Technology,Copiers,"Sharp Wireless Fax, High-Speed","$2,832.96",8,0.0,$311.52,903.04,Critical
5,22732,IN-2014-JM156557-41818,6/28/2014,07-01-2014,Second Class,JM-156557,Jim Mitchum,Corporate,NaN,Sydney,...,TEC-PH-5842,Technology,Phones,"Samsung Smart Phone, with Caller ID","$2,862.68",5,0.1,$763.28,897.35,Critical
6,30570,IN-2012-TS2134092-41219,11-06-2012,11-08-2012,First Class,TS-2134092,Toby Swindell,Consumer,NaN,Porirua,...,FUR-CH-5378,Furniture,Chairs,"Novimex Executive Leather Armchair, Adjustable","$1,822.08",4,0.0,$564.84,894.77,Critical
7,31192,IN-2013-MB1808592-41378,4/14/2013,4/18/2013,Standard Class,MB-1808592,Mick Brown,Consumer,NaN,Hamilton,...,FUR-TA-3764,Furniture,Tables,"Chromcraft Conference Table, Fully Assembled","$5,244.84",6,0.0,$996.48,878.38,High
8,40099,CA-2014-AB10015140-41954,11-11-2014,11/13/2014,First Class,AB-100151402,Aaron Bergman,Consumer,73120.0,Oklahoma City,...,FUR-BO-5957,Furniture,Bookcases,"Sauder Facets Collection Library, Sky Alder Fi...",$341.96,2,0.0,$54.71,25.27,High
9,36258,CA-2012-AB10015140-40974,03-06-2012,03-07-2012,First Class,AB-100151404,Aaron Bergman,Consumer,98103.0,Seattle,...,FUR-CH-4421,Furniture,Chairs,"Global Push Button Manager's Chair, Indigo",$48.71,1,0.2,$5.48,11.13,High

In [4]:
sup.shape

(51290, 24)

In [5]:
sup.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Postal Code', 'City',
       'State', 'Country', 'Region', 'Market', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [6]:
sup.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         0
Segment               0
Postal Code       41296
City                  0
State                 0
Country               0
Region                0
Market                0
Product ID            0
Category              0
Sub-Category          0
Product Name          0
Sales                 0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        0
dtype: int64

In [7]:
percentage_of_missing_values = round(100*(sup.isnull().sum()/len(sup.index)),2)
print(percentage_of_missing_values)

Row ID             0.00
Order ID           0.00
Order Date         0.00
Ship Date          0.00
Ship Mode          0.00
Customer ID        0.00
Customer Name      0.00
Segment            0.00
Postal Code       80.51
City               0.00
State              0.00
Country            0.00
Region             0.00
Market             0.00
Product ID         0.00
Category           0.00
Sub-Category       0.00
Product Name       0.00
Sales              0.00
Quantity           0.00
Discount           0.00
Profit             0.00
Shipping Cost      0.00
Order Priority     0.00
dtype: float64

In [8]:
sup.drop(columns=['Row ID', 'Order Date', 'Ship Date', 'Customer ID', 'Postal Code'], inplace=True)
sup.head(n=2)

,Order ID,Ship Mode,Customer Name,Segment,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,CA-2014-AB10015140-41954,First Class,Aaron Bergman,Consumer,Oklahoma City,Oklahoma,United States,Central US,USCA,TEC-PH-5816,Technology,Phones,Samsung Convoy 3,$221.98,2,0.0,$62.15,40.77,High
1,IN-2014-JR162107-41675,Second Class,Justin Ritter,Corporate,Wollongong,New South Wales,Australia,Oceania,Asia Pacific,FUR-CH-5379,Furniture,Chairs,"Novimex Executive Leather Armchair, Black","$3,709.40",9,0.1,($288.77),923.63,Critical

**1-Total, how many orders have cross the shipping cost of 500?**

In [9]:
sup['Shipping Cost'].value_counts().sum()

51290

In [10]:
sup['Shipping Cost'].value_counts().sum()>500

True

In [11]:
pd.value_counts(sup['Shipping Cost']>500)

False    51170
True       120
Name: Shipping Cost, dtype: int64

In [12]:
sup.loc[sup['Shipping Cost'] > 500, 'Order ID'].count()

120

**2-Count the number of segments, countries, regions, markets, categories, and sub-categories present in the global_superstore_2016 data.**

In [13]:
sup[['Segment','Country','Region','Category','Market','Sub-Category']].head()

,Segment,Country,Region,Category,Market,Sub-Category
0,Consumer,United States,Central US,Technology,USCA,Phones
1,Corporate,Australia,Oceania,Furniture,Asia Pacific,Chairs
2,Consumer,Australia,Oceania,Technology,Asia Pacific,Phones
3,Home Office,Germany,Western Europe,Technology,Europe,Phones
4,Consumer,Senegal,Western Africa,Technology,Africa,Copiers

In [14]:
sup['Segment'].value_counts()

Consumer       26518
Corporate      15429
Home Office     9343
Name: Segment, dtype: int64

In [15]:
len(sup['Country'].value_counts())

165

In [16]:
print(sup['Region'].value_counts())
print('Number of Region:',len(sup['Region'].value_counts()))

Western Europe       5883
Central America      5616
Oceania              3487
Western US           3203
Southeastern Asia    3129
South America        2988
Eastern US           2848
Southern Asia        2655
Western Asia         2440
Eastern Asia         2374
Central US           2323
Northern Europe      2204
Southern Europe      2113
Caribbean            1690
Southern US          1620
Eastern Europe       1529
Western Africa       1460
North Africa         1278
Eastern Africa        728
Central Africa        643
Southern Africa       478
Canada                384
Central Asia          217
Name: Region, dtype: int64
Number of Region: 23

In [17]:
sup['Category'].value_counts()

Office Supplies    31289
Technology         10141
Furniture           9860
Name: Category, dtype: int64

In [18]:
sup['Market'].value_counts()

Asia Pacific    14302
Europe          11729
USCA            10378
LATAM           10294
Africa           4587
Name: Market, dtype: int64

In [19]:
print(sup['Sub-Category'].value_counts())
print('length og Sub-Category:',len(sup['Sub-Category'].value_counts()))

Binders        6146
Storage        5049
Art            4864
Paper          3492
Chairs         3434
Phones         3357
Furnishings    3154
Accessories    3075
Labels         2601
Fasteners      2601
Bookcases      2411
Supplies       2407
Envelopes      2387
Copiers        2223
Appliances     1742
Machines       1486
Tables          861
Name: Sub-Category, dtype: int64
length og Sub-Category: 17

**3-Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' after paying the Shipping Cost more than 500.**

In [20]:
sup.loc[(sup['Country']=='India') & (sup['Category']=='Technology') & (sup['Shipping Cost'] >500)]

,Order ID,Ship Mode,Customer Name,Segment,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
41,IN-2015-BF1100558-42319,Standard Class,Barry Franz,Home Office,Gorakhpur,Haryana,India,Southern Asia,Asia Pacific,TEC-PH-5269,Technology,Phones,"Motorola Smart Phone, with Caller ID","$4,518.78",7,0.0,$632.52,658.69,High
48,IN-2015-SW2027558-42125,Same Day,Scott Williamson,Consumer,Jamshedpur,Jharkhand,India,Southern Asia,Asia Pacific,TEC-MA-5007,Technology,Machines,"Konica Inkjet, White","$2,174.13",7,0.0,$500.01,637.86,Critical
55,IN-2013-SG2047058-41424,First Class,Sheri Gordon,Consumer,Bhopal,Madhya Pradesh,India,Southern Asia,Asia Pacific,TEC-CO-4590,Technology,Copiers,"Hewlett Wireless Fax, Color","$1,526.52",4,0.0,$732.72,625.77,Critical
90,IN-2013-GP1474058-41419,Second Class,Guy Phonely,Corporate,Delhi,Delhi,India,Southern Asia,Asia Pacific,TEC-PH-5356,Technology,Phones,"Nokia Smart Phone, with Caller ID","$1,916.73",3,0.0,$498.33,548.40,Critical

In [21]:
sup.loc[(sup['Country']=='India') & (sup['Category']=='Technology') & (sup['Shipping Cost'] >500), ['Order ID']]

                   Order ID
41  IN-2015-BF1100558-42319
48  IN-2015-SW2027558-42125
55  IN-2013-SG2047058-41424
90  IN-2013-GP1474058-41419

**4-Get the list of Order ID's where the Indian customer's have bought the things under the category 'Technology' the Sales greater than 500.**

In [22]:
sup.dtypes

Order ID           object
Ship Mode          object
Customer Name      object
Segment            object
City               object
State              object
Country            object
Region             object
Market             object
Product ID         object
Category           object
Sub-Category       object
Product Name       object
Sales              object
Quantity            int64
Discount          float64
Profit             object
Shipping Cost     float64
Order Priority     object
dtype: object

In [23]:
sup['Sales'] = sup['Sales'].str.replace('$','')
sup['Sales'] = sup['Sales'].str.replace(',','')
sup['Sales']

0         221.98
1        3709.40
2        5175.17
3        2892.51
4        2832.96
           ...
51285      65.10
51286      16.72
51287       8.56
51288      13.44
51289      61.38
Name: Sales, Length: 51290, dtype: object

In [24]:
sup['Sales'] = sup['Sales'].astype(float)

In [25]:
sup.dtypes

Order ID           object
Ship Mode          object
Customer Name      object
Segment            object
City               object
State              object
Country            object
Region             object
Market             object
Product ID         object
Category           object
Sub-Category       object
Product Name       object
Sales             float64
Quantity            int64
Discount          float64
Profit             object
Shipping Cost     float64
Order Priority     object
dtype: object

In [26]:
sup.loc[(sup['Country']=='India') & (sup['Category']=='Technology') & (sup['Sales'] >500), ['Order ID']]

                      Order ID
41     IN-2015-BF1100558-42319
48     IN-2015-SW2027558-42125
55     IN-2013-SG2047058-41424
90     IN-2013-GP1474058-41419
130    IN-2014-SV2081558-41968
...                        ...
14874  IN-2013-ML1826558-41503
15236  IN-2015-HG1484558-42339
23250  IN-2013-MA1799558-41565
24316  IN-2012-DP1316558-41173
35903  IN-2013-JS1568558-41371

[163 rows x 1 columns]

**5-How many people from the State 'Karnataka' have bought the things under the category 'Technology'?**

In [31]:
sup.loc[(sup['State']=='Karnataka') & (sup['Category']=='Technology'),'Order ID'].count()

21

In [30]:
sup.loc[(sup['State']=='Karnataka') & (sup['Category']=='Technology')][:5]

,Order ID,Ship Mode,Customer Name,Segment,City,State,Country,Region,Market,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
408,IN-2015-CY1274558-42300,First Class,Craig Yedwab,Corporate,Bangalore,Karnataka,India,Southern Asia,Asia Pacific,TEC-CO-4578,Technology,Copiers,"Hewlett Fax Machine, Laser",959.76,3,0.0,$460.62,317.81,Critical
782,IN-2015-JW1522058-42101,Standard Class,Jane Waco,Corporate,Mangalore,Karnataka,India,Southern Asia,Asia Pacific,TEC-PH-3807,Technology,Phones,"Cisco Smart Phone, with Caller ID",3271.20,5,0.0,"$1,341.15",232.45,High
1957,IN-2014-RA1928558-41863,Standard Class,Ralph Arnett,Consumer,Mangalore,Karnataka,India,Southern Asia,Asia Pacific,TEC-CO-4791,Technology,Copiers,"HP Wireless Fax, High-Speed",1075.23,3,0.0,$344.07,136.45,High
2364,IN-2014-BO1135058-41783,Standard Class,Bill Overfelt,Corporate,Bangalore,Karnataka,India,Southern Asia,Asia Pacific,TEC-CO-3608,Technology,Copiers,"Brother Wireless Fax, Color",1140.75,3,0.0,$0.00,119.46,Medium
3200,IN-2014-CM1238558-41755,Second Class,Christopher Martinez,Consumer,Bangalore,Karnataka,India,Southern Asia,Asia Pacific,TEC-CO-4769,Technology,Copiers,"HP Fax and Copier, Color",697.32,4,0.0,$292.80,94.93,High

**6-Get the list of countries where the 'Profit' and 'Shipping Cost's are greater than or equal to 2000 and 300 respectively.**

In [ ]:
sup['Profit'] = sup['Profit'].str.replace('$','')
#sup['Profit'] = sup['Profit'].astype(float)
sup['Profit'] = sup['Profit'].str.replace('(','')
sup['Profit'] = sup['Profit'].str.replace(')','')
sup['Profit'] = sup['Profit'].str.replace(',','')

sup['Profit']

In [ ]:
sup['Profit'] = sup['Profit'].astype(float)

In [ ]:
cond1 = (sup['Profit'] >= 2000) & (sup['Shipping Cost'] >= 300)
global_country = sup[cond1]

In [ ]:
global_country[:5]

In [ ]:
global_country['Country']

In [ ]:
list_of_country = global_country['Country'].drop_duplicates().tolist()
list_of_country

**7-Find the list of Indian states where the people have purchased the things under the category Technology.**

In [ ]:
sup.loc[(sup["Country"]=="India") & (sup["Category"]=="Technology")]

In [ ]:
sup.loc[(sup['Country']=='India') & (sup["Category"]=='Technology')]['State'].drop_duplicates().tolist()

**8-Find the overall rank of "India" where the 'Profit' is maximum under the category 'Technology'.**

In [ ]:
print("Max Profit:", max(sup['Profit']))
print("Min Profit:", min(sup['Profit']))

In [ ]:
condition_top_countries = (sup['Profit']>0) & (sup['Category']=='Technology')

In [ ]:
g_countries = sup[condition_top_countries]
g_countries.shape

In [ ]:
sort_g_countries = g_countries.sort_values(by=['Profit'], ascending=False)
sort_g_countries.head()

In [ ]:
sort_g_countries['Country']

In [ ]:
list_of_country_top_profit = sort_g_countries['Country'].drop_duplicates().tolist()
list_of_country_top_profit

In [ ]:
ranked_data = sort_g_countries['Country'].drop_duplicates().rank(ascending=False, method='average' )
ranked_data

In [ ]:
ranked_countries = sort_g_countries['Country'].drop_duplicates()

In [ ]:
ranked_series = pd.concat([ranked_countries, ranked_data],axis=1)
ranked_series

**9-Display the data with min, max, average and std of 'Profit' & 'Sales' for each Sub-Category under each Category.**

In [ ]:
grouped_data = sup.groupby(by=['Country','Category','Sub-Category'],as_index=True)

In [ ]:
functions = [('min_value', 'min'), ('max_value', 'max'), ('mean_value','mean'), ('std_value', 'std')]

In [ ]:
grouped_data['Sales', 'Profit'].agg(functions)

In [ ]:
max_profit = sup.groupby(['Country','Category','Sub-Category']).Profit.max()
max_profit

In [ ]:
min_profit = sup.groupby(['Country','Category','Sub-Category']).Profit.min()
min_profit

In [ ]:
avg_profit = sup.groupby(['Country','Category','Sub-Category']).Profit.mean()
avg_profit

In [ ]:
std_profit = sup.groupby(['Country','Category','Sub-Category']).Profit.std()
std_profit

In [ ]:
max_sale = sup.groupby(['Country','Category','Sub-Category']).Sales.max()
max_sale

In [ ]:
min_sale = sup.groupby(['Country','Category','Sub-Category']).Sales.min()
min_sale

In [ ]:
avg_sale = sup.groupby(['Country','Category','Sub-Category']).Sales.mean()
avg_sale

In [ ]:
std_sale = sup.groupby(['Country','Category','Sub-Category']).Sales.std()
std_sale